.footer {
    background-color: $dark-gray;
    padding: rem-calc(30) 0;
    color: $white;
    a, p, label {
        color: $white;
    }
    p {
        font-size: rem-calc(13);
        margin: 0;
    }
    .title {
        font-size: rem-calc(14);
    }
    .footer-left {
        @include grid-column;
        margin-top: rem-calc(20);
        text-align: center;
        @include breakpoint(medium) {
            @include grid-column(3);
            @include grid-col-pos(-6);
            margin-top: 0;
            text-align: left;
        }
    }
    .footer-center {
        text-align: center;
        @include grid-column;
        @include breakpoint(medium) {
            @include grid-col-pos(3);
            @include grid-column(6);
        }
        li {
            display: inline-block;
        }
    }
    .footer-menu + .social {
        margin-top: rem-calc(20);
        @include breakpoint(medium) {
            margin-top: rem-calc(70);
        }
    }
     .footer-menu {
        font-size: rem-calc(12);
        li {
            margin: 0 rem-calc(10);
        }
    }
    .social {
        font-size: rem-calc(20);
        > li > a {
            padding: rem-calc(12);
        }
    }
    .footer-right {
        @include grid-column;
        margin-top: rem-calc(20);
        text-align: center;
        @include breakpoint(medium) {
            @include grid-column(3);
            margin-top: 0;
            text-align: right;
        }
        p {
            line-height: 1.35;
        }
    }
}